<html>
  <head>
    <title>Application Monitor System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <link rel="stylesheet" href="./style.css">

  </head>


  <body>

    <h1>Application Monitor System</h1>

    <hr>

    <h2>Process Monitoring</h2>

    <a href="./mem"> Memory Monitoring </a> <br>
    <a href="./disk_cap"> Disk Capacity Monitoring </a> <br>
    <a href="./diskio"> Disk I/O Monitoring </a> <br>
    <a href="./cpu"> CPU Usage Monitoring </a> <br>
    <a href="./network"> Network Traffic Monitoring </a> <br>
    <a href="./procs"> System-Level Process Monitoring </a> <br>
    <a href="./indiv_proc"> Individual Process Monitoring </a>

    <hr>

    <h2>Alert Handling</h2>

    <a href="alert_creation.html"> Alert Creation </a> <br>
    <a href="alert_updation.html"> Alert Updation </a>

    <hr>

    <p> CS 387 (Database and Information Systems Lab) Course Project</p>
    <p>
      Team Members:<br>
      190050024 - Atin Bainada, 190050043 - Likhith,<br>
      190050111 - Shabnam Sahay, 190050116 - Soham Mistri
    </p>


  </body>
</html>
