<html>
  <head>
    <title>Memory Monitoring</title>
    <script>
      // required by react
      window.process = {
        env : 'development'
      }
      // required by giraffe
      global = window
    </script>
    <script crossorigin src="https://unpkg.com/react@17.0.0/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17.0.0/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdn.jsdelivr.net/npm/@influxdata/giraffe@0.41.0/dist/index.js"></script>
    <script crossorigin src="https://unpkg.com/@influxdata/influxdb-client/dist/index.browser.js"></script>
    <script crossorigin src="https://unpkg.com/@influxdata/influxdb-client-giraffe/dist/index.js"></script>
    <!-- <script src="../packages/giraffe/dist/index.js"></script> -->
    <script src="/js/common.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
  </head>


  <body>

    <h1>Memory Monitoring</h1>

    <fieldset>
      <legend>Used Memory Percentage</legend>
      <div style="width: 100%;height: 200px; border: 1px solid grey; margin-bottom: 10px;" id="renderAreaUsed">
      </div>
    </fieldset>

    <fieldset>
      <legend>Available Memory Percentage</legend>
      <div style="width: 100%;height: 200px; border: 1px solid grey; margin-bottom: 10px;" id="renderAreaAvailable">
      </div>
    </fieldset>

    <fieldset>
      <legend>Host Name</legend>
      <div style="display:flex; margin-bottom: 10px;">
        <textarea id="hostName" style="flex: 1" rows="2" placeholder="Enter host name..."></textarea>
      </div>
    </fieldset>

    <button id="setHostName" style="margin-bottom: 20px;">Enter</button>

    <p style="text-align:right;">
      <a href="/">Home</a>
    </p>


    <script>

      // create query API
      const url = '<%- url %>'
      const token = '<%- token %>'
      const org = '<%- org %>'
      const bucket = '<%- bucket %>'
      const influxDBClient = window['@influxdata/influxdb-client']
      const influxDB = new influxDBClient.InfluxDB({url, token})
      const queryApi = influxDB.getQueryApi(org)

      function setQueries() {

        hostName = document.getElementById('hostName').value
        const hostNameInput = document.getElementById('hostName')
        hostNameInput.value =  hostName


        fluxQueryUsed = `
            from(bucket: "`+bucket+`")
        |> range(start: ` + timeRangeStart + `)
        |> filter(fn: (r) => r["host"] == "`+hostName+`")
        |> filter(fn: (r) => r["_measurement"] == "mem")
        |> filter(fn: (r) => r["_field"] == "used_percent")
        |> drop(columns: ["host"])
        |> aggregateWindow(every: ` + windowPeriod + `, fn: mean, createEmpty: false)
        |> yield(name: "mean")
        `

        fluxQueryAvailable = `
            from(bucket: "`+bucket+`")
        |> range(start: ` + timeRangeStart + `)
        |> filter(fn: (r) => r["host"] == "`+hostName+`")
        |> filter(fn: (r) => r["_measurement"] == "mem")
        |> filter(fn: (r) => r["_field"] == "available_percent")
        |> drop(columns: ["host"])
        |> aggregateWindow(every: ` + windowPeriod + `, fn: mean, createEmpty: false)
        |> yield(name: "mean")
        `
      }

      setQueries()

      // execute query and fill query data into giraffe table
      const giraffe = window['@influxdata/giraffe']
      const influxDBClientGiraffe = window['@influxdata/influxdb-client-giraffe']

      function updateQueries() {
        queryAndVisualize(fluxQueryUsed, 'renderAreaUsed')
        queryAndVisualize(fluxQueryAvailable, 'renderAreaAvailable')
      }

      updateQueries()
      setInterval(updateQueries, updatePeriod);

      document.getElementById('setHostName').addEventListener('click', () => {
        setQueries()
        updateQueries()
      })

    </script>

  </body>
</html>
